<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sangonomiya.app.mapper.OrderRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.sangonomiya.app.entity.Order">
        <result column="user_id" property="userId" />
        <result column="order_num" property="orderNum" />
        <result column="create_time" property="createTime" />
        <result column="biz_state" property="bizState" />
        <result column="buy_year" property="buyYear" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, order_num, create_time, biz_state, buy_year
    </sql>

</mapper>