<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sangonomiya.app.mapper.PaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.sangonomiya.app.entity.Payment">
        <id column="id" property="id" />
        <result column="ending_date" property="endingDate" />
        <result column="hold_user_id" property="holdUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ending_date, hold_user_id
    </sql>

</mapper>