<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sangonomiya.app.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.sangonomiya.app.entity.UserVO">
        <id column="id" property="id" />
        <result column="portrait" property="portrait" />
        <result column="username" property="username" />
        <result column="realname" property="realname" />
        <result column="email" property="email" />
        <result column="gender" property="gender" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="city" property="city" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, portrait, username, realname, email, gender, password, phone, city, enable, create_time
    </sql>

</mapper>